fastapi
uvicorn[standard]
sqlmodel
pydantic>=2.0.0
langchain
langchain-core
langchain-chroma
langchain-litellm
langgraph
litellm
python-dotenv
numpy
hdbscan
chromadb
requests
aiofiles
tenacity
colorama
pydantic-settings
asyncio
anyio
typing-extensions
concurrent-log-handler
colorlog
nltk
python-multipart
whisperx
srt
torch
torchaudio
ctranslate2==4.5.0